.headings {
  position: relative;
  left: 220px;
}

#name {
  position: relative;
  left: 50px;
}
#header {
  background-color: #ec7063;
  position: absolute;
  width: 1090px;
  height: 60px;
  top: -18px;
  left: 0px;
  opacity: 0.6;
  margin-left: 350px;
}
.click {
  position: absolute;
  top: -400px;
  left: 650px;
}
#logout{

  position:absolute;
  top:500px;
  left:600px;
}
.style10 {
  position: absolute;
  top: 10px;
  left: 500px;
}
#info {
  background-color: #fef5e7;
  position: relative;
  top: -8px;
  left: -8px;
  width: 350px;
  height: 735px;
}
p.h1 {
  font-family: "Verdana";
  font-size: 24px;
  position: relative;
  left: 90px;
}

input[type="text"] {
  border: none;
  background-color: white;
}
#t1,
#t2,
#t3,
#t4,
#t5 {
  background-color: #fef5e7;
  color: black;
  padding: 15px;
  margin: 6px 15px;
  border: none;
}

#t1 {
  position: relative;
  width: 50%;
  left: 45px;
}
#t2 {
  position: relative;
  width: 50%;
  left: 60px;
}
#t3 {
  position: relative;
  width: 50%;
  left: 7px;
}
#t4 {
  position: relative;
  width: 50%;
  left: 18px;
}
#t5 {
  position: relative;
  width: 50%;
  left: 55px;
}
label {
  position: relative;
  left: 15px;
  font-size: 18px;
}

#table1 {
  position: absolute;
  top: 230px;
  left: 580px;
}
table input {
  height: 30px;
  width: 150px;
  border: none;
  text-align: center;
}

.avatarimage {
  width: 40%;
  position: relative;
  top: 10px;
  left: 100px;
}
.tableheading {
  position: absolute;
  top: 150px;
  left: 580px;
  font-size: 20px;
}
.col {
  position: relative;
  left: 240px;
}
#tableleft
{
  position:relative;
  left:50px;
}
#tableleft,tr{
  height:60px;
}

.view {
  position: absolute;
  top: 450px;
  left: 580px;
  font-size: 20pt;
}


